{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "arrowParens": "avoid",
  "printWidth": 120,

  "endOfLine": "auto",

  "singleQuote": true,

  "trailingComma": "all",

  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
