.ne-block {
  box-shadow: 2px 2px 4px #ccc;
  color: #555;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100px;
  min-height: 100px;
  border-radius: 6px;
  padding: 3px;
  background: #eee;
}

.ne-title {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 6px 12px;
  background: #eee;
}
.ne-content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #fff;
}

[ne-drag],
[ne-drag] *:not([ne-nodrag]) {
  cursor: grab;
  user-select: none;
}

[ne-drag] [ne-nodrag] {
  cursor: initial;
  user-select: initial;
}

.ne-block [ne-item] {
  position: relative;
  padding: 2px 12px;
  border: solid 1px #eee;
}

.ne-block [ne-connect] {
  background: rgba(0, 0, 0, 0.01);
  top: 0;
  user-select: none;
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ne-block [ne-connect]:before {
  content: ' ';
  width: 8px;
  height: 8px;
  border-radius: 7px;
  border: solid 1px gray;
  background-color: white;
}

.ne-block [ne-connect='in'] {
  --offset-x: -4px;
  --offset-y: 0;
  left: -13px;
}

.ne-block [ne-connect='out'] {
  --offset-x: 4px;
  --offset-y: 0;
  right: -15px;
}

.ne-block [ne-connect].target:before {
  border-color: rgb(240, 102, 102);
}
.ne-block [ne-connect]:hover,
.ne-block [ne-connect].target {
  background: rgba(0, 0, 0, 0.1);
}
