.NodeEditor {
  position: relative;
}

.NodeEditor:focus {
  outline: none;
}
.NodeEditor svg g:focus {
  outline: rgba(0, 0, 0, 0.1) auto 5px;
}
.NodeEditor svg g path:first-child {
  stroke: black;
  stroke-width: 2px;
}
.NodeEditor svg g path:nth-child(2) {
  stroke-width: 8px;
  stroke: transparent;
}
.NodeEditor svg g.selected path:first-child {
  stroke: #2ea7a7;
}
.NodeEditor svg g.ne-from-sel-block path:first-child {
  stroke: #bfc233;
}
.NodeEditor svg g.ne-to-sel-block path:first-child {
  stroke: #2e6ca7;
}

.NodeEditor .ne-focus-bt {
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  position: absolute;
  background: #eee;
}
.NodeEditor .ne-focus-bt:focus {
  background: #fee;
  outline: solid 1px red;
}

.ne-menu {
  padding-bottom: 5px;
}
.ne-menu .ne-bt {
  cursor: pointer;
  padding: 4px 8px;
  margin: 0 5px;
  border-radius: 5px;
  outline: solid 1px #ddd;
  background: #fff;
}

.ne-menu .ne-bt:hover {
  background-color: #eee;
}
.ne-menu .ne-delete {
  color: red;
}
