:root{
  --default-content-padding: 20px;
  --half-content-padding: 10px;
}

.hidden, [hidden]{ display: none !important;}

button{
  background: none;
  border: none;
}


/* display block commons case */
.bl{ display: block; }
.bli{ display: inline-block; }

.l-b-box *:nth-child(2), .l-b-box1 *:nth-child(2),
.l-b-box-c *:nth-child(2), .l-b-box-c1 *:nth-child(2){
  flex: 1;
}
.l-b-box-c, .l-b-box-c1{
  flex-flow: column;
}

/* flex */
.fx    { display: flex; }
.fxi   { display: inline-flex; }
.fx1, .fxs1, .fxc1, .fxcv1, .l-b-box1, .l-b-box-c1 { flex: 1; }
.fx2 {flex: 2;} .fx3 {flex: 3;} .fx4 {flex: 4;} .fx5 {flex: 5;} .fx6 {flex: 6;}
.fx7 {flex: 7;} .fx8 {flex: 8;} .fx9 {flex: 9;} .fx10 {flex: 10;} .fx11 {flex: 11;}  .fx12 {flex: 12;}
 /* default is row, so class for column is needed */
.fxfc { display: flex; flex-flow: column;}

 /* STRETCH flex with everything stretched (fxs1 is with flex:1) */
.fxs, .fxs1, .l-b-box, .l-b-box1, .l-b-box-c, .l-b-box-c1 { display: flex; justify-content: stretch; align-items: stretch;}
.fxc, .fxc1, .fxcv, .fxcv1 { display: flex; align-items: center;}
 /* CENTER flex with everything centered (fxc1 is with flex:1) */
.fxc, .fxc1 { display: flex; justify-content: center; align-items: center;}

 /* flex justify tweaks */
.fxjc { justify-content: center; }
.fxjs { justify-content: flex-start; }
.fxje { justify-content: flex-end; }
 /* flex justify tweaks */
.fxsa { justify-content: space-around; }
.fxsb { justify-content: space-between; }
.fxse { justify-content: space-evenly; }

 /* flex align tweaks */
.fxac { align-items: center; }
.fxas { align-items: flex-start; }
.fxae { align-items: flex-end; }

 /* SIZE ... very common sizes */
.wa { width: auto; }
.w100 { width: 100%; }
.w50 { width: 50%; }
.h100 { height: 100%; }
.h50 { width: 50%; }

 /* OVERFLOW common */
.owh{ overflow: hidden;}
.owa{ overflow: auto;}

 /* POSITION common */
.posr{ position: relative;}
.posa{ position: absolute;}

/* PADIING */
.pad{ padding: var(--default-content-padding); }
.padh{ padding-left: var(--default-content-padding); padding-right: var(--default-content-padding);}
.pad05{ padding: var(--half-content-padding); }
.padh05{ padding-left: var(--half-content-padding); padding-right: var(--half-content-padding);}

.btn-icon-large, .btn-icon-large, .btn-large, .btn {
  cursor: pointer;
}
.btn-icon-large {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
