:root {
  --tutorial-text-bg: rgb(109, 102, 102);
  --tutorial-text-fg: rgb(245, 245, 245);

  --tutorial-code-fg: rgb(38, 38, 38);
  --tutorial-code-bg: rgb(245, 245, 245);

  --tutorial-incode-bg: rgb(77, 77, 77);
  --tutorial-incode-fg: rgb(245, 245, 245);
}

.tutorial-text{
  background-color: var(--tutorial-text-bg);
  color: var(--tutorial-text-fg);
}

.tutorial-text > p > code {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--tutorial-incode-bg);
  color: var(--tutorial-incode-fg);
}

.tutorial-text pre code{
  display: block;
  background-color: var(--tutorial-code-bg);
  color: var(--tutorial-code-fg);
  padding: var(--default-content-padding);
  padding-bottom: calc(var(--default-content-padding) - 14px);/* there is usually extra newline*/
  margin-left: calc(var(--default-content-padding) * -1 + 8px);
  margin-right: calc(var(--default-content-padding) * -1 + 8px);
  overflow: auto;
  border-radius: 8px;
}

.tutorial-text > h1:first-child, .tutorial-text > h2:first-child {
  margin-top: 0;
  display: none;
}

.tutorial-text > h3, .tutorial-text > h3{
  color: #fff4cc;
}

.tutorial-menu{
  position: relative;
  cursor: pointer;
}

.tutorial-menu-pop{
  position: absolute;
  top:0;
  left:40px;
  z-index: 1;
  background-color: white;
  border: solid 1px gray;
  max-height: 50%;
  overflow: auto;
}

/* focus-within does not work if using display:none or visibility:hidden as you can not focus items inside
https://stackoverflow.com/questions/21351476/why-changing-visibility-display-on-focus-does-not-work 
*/
.tutorial-menu-pop:not(:focus-within){
  opacity: 0;
  overflow: hidden;
  height:0;
  padding:0;
  top: -100px;
}
.tutorial-menu-pop > button{
  padding: 8px 20px;
  display: block;
  text-align: left;
}
.tutorial-menu-pop > button:hover, .tutorial-menu-pop > button.selected{
  background-color: #eee;
}
.tutorial-menu-pop > button[level="1"]{
  font-weight: bold;
}
.tutorial-menu-pop > button[level="2"]{
  padding-left: calc(var(--default-content-padding) + 20px);
}

