:root {
  --tutorial-text-bg: rgb(109, 102, 102);
  --tutorial-text-fg: rgb(245, 245, 245);

  --tutorial-code-fg: rgb(38, 38, 38);
  --tutorial-code-bg: rgb(245, 245, 245);

  --tutorial-incode-bg: rgb(77, 77, 77);
  --tutorial-incode-fg: rgb(245, 245, 245);
}

.tutorial-text{
  background-color: var(--tutorial-text-bg);
  color: var(--tutorial-text-fg);
}

.tutorial-text > p > code {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: var(--tutorial-incode-bg);
  color: var(--tutorial-incode-fg);
}

.tutorial-text pre code{
  display: block;
  background-color: var(--tutorial-code-bg);
  color: var(--tutorial-code-fg);
  padding: var(--default-content-padding);
  padding-bottom: calc(var(--default-content-padding) - 14px);/* there is usually extra newline*/
  margin-left: calc(var(--default-content-padding) * -1 + 8px);
  margin-right: calc(var(--default-content-padding) * -1 + 8px);
  overflow: auto;
  border-radius: 8px;
}

.tutorial-text > h1:first-child, .tutorial-text > h2:first-child {
  margin-top: 0;
  display: none;
}

.tutorial-text > h3, .tutorial-text > h3{
  color: #fff4cc;
}

